<article>
<div class="col-md-4" id="formularioAlta">
    <div class="form-group">
        <label for="txtNombre">Nombre</label>
        <input type="text" class="form-control" id="txtNombre" >
    </div>

    <div class="form-group">
        <label for="txtAp">Apellido</label>
        <input type="text" class="form-control" id="txtAp" >
    </div>

    <div class="form-group">
        <label for="txtEdad">Edad</label>
        <input type="text" class="form-control"  id="txtEdad" >
    </div>

    
   <button class="btn btn-success" id="btn_enviarFormulario">Agregar Persona</button>

  
</div>
</article>
<script src="~/js/alta.js"></script>